<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BookLog{% endblock %}</title>
</head>
<body>
    <nav>
    <a href="{{ url_for('home') }}">ホーム</a> |
    <a href="{{ url_for('bookshelf_page') }}">本棚</a> |
    <a href="{{ url_for('wishlist_page') }}">読みたい本</a> | <a href="{{ url_for('search_page') }}">検索</a>
    </nav>
    <hr>

    {% block content %}{% endblock %}

</body>
</html>